section.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

section.contact > .contact-container {
  position: relative;
  width: 100%;
  height: 100%
}
 
section.contact > .contact-container > h2 {
  font-size: 28px;
  margin-bottom: 2rem;
  font-weight: 300;
}

section.contact > .contact-container > h3 {
  font-size: 36px;
  margin-bottom: 4rem;
  font-weight: 300;
}

section.contact > .contact-container > span {
  --angle: 8deg;
  padding: 1rem 1.5rem;
  border-radius: 99px;
  font-size: 28px;
  font-weight: 300;
  border: none;
  width: 100%;
  background: linear-gradient(var(--angle),rgba(79, 214, 108, 1) 0%, rgba(219, 222, 60, 1) 100%);
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

section.contact > .contact-container > h3 .bouncing-contact {
  display: inline-block;
}

section.contact > .contact-container > .modal-contact {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #eee;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateX(-100%);
}

section.contact > .contact-container > .modal-contact > * {
  width: 70%;
}

section.contact > .contact-container > .modal-contact > header {
  position: relative;
}

section.contact > .contact-container > .modal-contact > header > h3 {
  font-size: 42px;
  margin-bottom: 2rem;
  font-weight: 500;
}

section.contact > .contact-container > .modal-contact > header > p {
  margin-bottom: 0.5rem;
  font-size: 18px;
}

section.contact > .contact-container > .modal-contact > header > p:last-of-type {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

section.contact > .contact-container > .modal-contact > header > span {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 32px;
  cursor: pointer;
}

section.contact > .contact-container > .modal-contact > form {
  display: flex;
  flex-direction: column;
}

section.contact > .contact-container > .modal-contact > form > div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

section.contact > .contact-container > .modal-contact > form > div > input,
section.contact > .contact-container > .modal-contact > form > div > textarea {
  border: none;
  color: #333;
  font-size: 16px;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-family: inherit;
}

section.contact > .contact-container > .modal-contact > form > button {
  border: none;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 99px;
  font-size: 18px;
  font-weight: 300;
  border: none;
  width: 100%;
  background-color: #34c954;
  font-weight: 500;
  cursor: pointer;
  margin-left: auto;
}

section.contact > .contact-container > .modal-contact > form > button:hover {
  width: 100%;
  background-color: #4fd66c;
}

@media screen and (min-width: 768px) {
  section.contact > .contact-container {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    display: flex;
    padding-left: 3rem;
  }

  section.contact > .contact-container > h2 {
    font-size: 40px;
    margin-bottom: 4rem;
    font-weight: 300;
  }

  section.contact > .contact-container > h3 {
    font-size: 82px;
    margin-bottom: 4rem;
    font-weight: 300;
  }

  section.contact > .contact-container > span {
    display: inline-flex;
    padding: 1.5rem 2.5rem;
    border-radius: 99px;
    font-size: 40px;
    font-weight: 300;
    border: none;
    width: fit-content;
    background-color: #34c954;
    font-weight: 500;
    cursor: pointer;
  }

  section.contact > .contact-container > span:hover {
    width: fit-content;
    background-color: #4fd66c;
  }

  section.contact > .contact-container > .modal-contact {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #eee;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(-100%);
  }

  section.contact > .contact-container > .modal-contact > * {
    width: 70%;
  }

  section.contact > .contact-container > .modal-contact > header {
    position: relative;
  }

  section.contact > .contact-container > .modal-contact > header > h3 {
    font-size: 82px;
    margin-bottom: 2rem;
    font-weight: 500;
  }

  section.contact > .contact-container > .modal-contact > header > p {
    margin-bottom: 1rem;
    font-size: 24px;
  }

  section.contact > .contact-container > .modal-contact > header > p:last-of-type {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  section.contact > .contact-container > .modal-contact > header > span {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 32px;
    cursor: pointer;
  }

  section.contact > .contact-container > .modal-contact > form {
    display: flex;
    flex-direction: column;
  }

  section.contact > .contact-container > .modal-contact > form > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  section.contact > .contact-container > .modal-contact > form > div > input,
  section.contact > .contact-container > .modal-contact > form > div > textarea {
    border: none;
    color: #333;
    font-size: 20px;
    padding: 1.25rem 2rem;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    font-family: inherit;
  }

  section.contact > .contact-container > .modal-contact > form > button {
    border: none;
    display: inline-flex;
    padding: 1rem 2rem;
    border-radius: 99px;
    font-size: 24px;
    font-weight: 300;
    border: none;
    width: fit-content;
    background-color: #34c954;
    font-weight: 500;
    cursor: pointer;
    margin-left: auto;
  }

  section.contact > .contact-container > .modal-contact > form > button:hover {
    width: fit-content;
    background-color: #4fd66c;
  }
}
